<!DOCTYPE html>
<section class="cow-section container" id="How it’s made?">
  <div class="cow-container">
    <h2 class="small-title tradition-title">tradition and love</h2>
    <h3 class="big-title made-title">how it’s made?</h3>
    <div class="milk-cow">
      <picture class="milk-cow-picture">
        <source
          srcset="
            ./images/cow/desctop-milk-cow.png    1x,
            ./images/cow/desctop-milk-cow@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/cow/tablet-milk-cow.png    1x,
            ./images/cow/tablet-milk-cow@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/cow/mobile-milk-cow.png    1x,
            ./images/cow/mobile-milk-cow@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/cow/desctop-milk-cow.png"
          alt="Корова с молоком"
          width="516px"
        />
      </picture>

      <div class="milk-cow-paragraph">
        <p class="cow-paragraph-one">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="cow-paragraph cow-paragraph-two">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="cow-paragraph cow-paragraph-three">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button type="button" class="cow-button">
          Read more
          <svg width="20" height="10">
            <use
              class="cow-icon"
              href="./images/symbol-defs.svg#icon-button-arrow"
            ></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="cont">
      <ul class="cow-list">
        <li class="cow-item bef">
          <svg class="cow-icon-title" width="32" height="49.5">
            <use href="./images/symbol-defs.svg#icon-milk-bucket"></use>
          </svg>
          <h3 class="cow-features-title">721</h3>
          <p class="cow-features">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="cow-item bef">
          <svg class="cow-icon-title" width="50" height="50">
            <use href="./images/symbol-defs.svg#icon-fruit-bucket"></use>
          </svg>
          <h3 class="cow-features-title">16kg</h3>
          <p class="cow-features">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="cow-item bef">
          <svg class="cow-icon-title" width="44" height="50">
            <use href="./images/symbol-defs.svg#icon-heart-on-stick"></use>
          </svg>
          <h3 class="cow-features-title">84</h3>
          <p class="cow-features">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
