
<div class="modal-overlay"></div>
<div class="modal-wrapper">
    <div class="modal js-blur" style="visibility: hidden; opacity: 0;">
        <button class="close-modal">×</button>

        <div class="container__modal">
            <input type="radio" name="tab" id="signin" checked="checked">
            <input type="radio" name="tab" id="register">
            <div class="pages">

                <div class="page">
                    <div class="input">
                        <div class="title"><i class="material-icons"></i> USERNAME</div>
                        <input class="text" type="text" placeholder="">
                    </div>
                    <div class="input">
                        <div class="title"><i class="material-icons"></i> PASSWORD</div>
                        <input class="text" type="password" placeholder="">
                    </div>
                    <div class="input">
                        <input type="submit" value="ENTER">
                    </div>
                </div>
                <div class="page signup">
                    <div class="input">
                        <div class="title"><i class="material-icons"></i> NAME</div>
                        <input class="text" type="text" placeholder="">
                    </div>
                    <div class="input">
                        <div class="title"><i class="material-icons"></i> EMAIL</div>
                        <input class="text" type="email" placeholder="">
                    </div>
                    <div class="input">
                        <input type="submit" value="SIGN ME UP!">
                    </div>
                    
                </div>
                
            </div>
            
        <div class="tabs">
            <label class="tab" for="signin">
                <div class="text">Sign In</div>
            </label>
            <label class="tab" for="register">
                <div class="text">Register</div>
            </label>
        </div>
        
    </div>
    </div>
</div>